<!DOCTYPE html>
<html>
<head>
	<% if(!CurrentUser){%>
	<title>Journal Site</title>
	<%} else {%>
	<title><%=CurrentUser.username%> Journal Site</title>
	<%}%>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/main.css">
</head>
	<body>
	
	<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<% if(!CurrentUser){%>
			<a class="navbar-brand" href="/">Journal Site</a>
			<%} else {%>
			<a class="navbar-brand" href="/"><%=CurrentUser.username%> Journal Site</a>
			<%}%>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<% if(!CurrentUser){%>
				<li><a href="/login">Login</a></li>
				<li><a href="/register">Sign Up</a></li>
				<%} else {%>
				<li><a href="#">Current Profile: <%=CurrentUser.username%></a></li>
				<li><a href="/logout">Logout</a></li>
				<%}%>
			</ul>
		</div>
	</div>
</nav>
		<div class="container">
			<!-- error will always be there so with error.length more than zero, the error flash will show up -->
			<%if(error && error.length > 0) {%>
			<div class="alert alert-danger" role="alert">
			<%=error%>
			</div>
			<%}%>
			<%if(success && success.length > 0) {%>
			<div class="alert alert-success" role="alert">
			<%=success%>
			</div>
			<%}%>
		</div>
		